body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: hsl(240, 57%, 49%);
    color: white;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
  }
  
  .left-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .right-column {
    flex: 1;
  }
  
  #search {
    margin-top: 10px;
  }
  
  #click {
    margin-top: 1%;
  }
  
  div {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
  }
  